 <div id="wrapper" class="well boxshadow">
  <div id="main">
    <% @books.each do |book| %>
      <%= render "books/book_home", book: book %>
    <% end %>
    <hr>
    <%= link_to_previous_page @books, "Previous Page", class: "button big previous" %>
    <%= link_to_next_page @books, "Next Page", class: "button big next" %>
  </div>

  <section id="sidebar">
    <section id="intro">
      <a href="#" class="logo"><img src="images/logo.png" alt="" /></a>
      <header>
        <h2>Book Reviews</h2>
        <p>You can share everything you known about book in my Website!!</p>
      </header>
    </section>

    <section class="list-mini-posts">
      <div class="mini-posts">
        <% @mini_books.each do |book| %>
          <%= render "books/mini_book", book: book %>
        <% end %>
      </div>
    </section>

    <section>
      <ul class="posts">
        <% @reviews.each do |review| %>
          <%= render "reviews/review_home", review: review %>
        <% end %>
      </ul>
    </section>
    <%if user_signed_in?%>
      <section class="blurb">
        <p>You want to tell us about our websites? Please request to us!!</p>
        <h2>Requests</h2>
        <%= form_for @request do |f| %>
          <%= render "shared/error_messages", object: @request %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control",
              placeholder: t("requests.new.content"), rows: 10 %>
          </div>
          <ul class="actions">
            <li><%= f.submit t("requests.new.sent"), class: "button" %></li>
          </ul>
        <% end %>
      </section>
    <% end  %>
  </section>
</div>
