<div class="row">
  <div class="col-xs-12 col-sm-5">
    <%= image_tag @book.picture, size: Settings.books.size2, class: "book-image" %>
    <hr style="width: 100%">
    <h4>Rating </h4>
    <div class="average-review-rating" data-score=<%= @book.rate_avg %>></div>
    <br>
    <%= link_to "", edit_admin_book_path(@book),class: "glyphicon glyphicon-edit" %> |
    <%= link_to "", admin_book_path(@book),method: :delete, data: {confirm: t("admin.messages.confirm")},
            class: "glyphicon glyphicon-remove" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="title">
      <h2><b><%= @book.title %></b></h2>
    </div>
    <div class="description">
      <h3><span><%= t "books.description" %></span></h3>
      <p><%= @book.description %></p>
      <p class="published"> Number of page: <%= @book.number_page %></p>
    </div>
  </div>
</div>
