<div class="row">
  <div class="col-lg-5 col-lg-push-7">
    <div class="panel panel-default">
      <div class="panel-heading dn-panel-head">
        <h4><%= t :signup %></h4>
      </div>
      <div class="panel-body">
        <%= form_for resource, as: resource_name,
          url: registration_path(resource_name) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.text_field :name, autofocus: true, class: "form-control",
            placeholder: "Your name" %>
          </div>
          <div class="field">
            <%= f.email_field :email, class: "form-control",
            placeholder: "Your email" %>
          </div>
          <div class="field dn-field">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> minimum charater.)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",
              class: "form-control", placeholder: "Your password" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off",
              class: "form-control", placeholder: "Password comfirmation" %>
          </div>
          <div class="actions dn-field">
            <%= f.submit "Sign up", class: "btn btn-primary dn-submit-login" %>
          </div>
        <% end %>
        <div class="dn-login-sns dn-sign-sns">
          <h2 class="dn-login-strike">
            <span>Or Login By</span>
          </h2>
          <%= link_to "", user_omniauth_authorize_path(:facebook),
            class: "fa fa-facebook dn-fb" %>
          <%= link_to "", user_google_oauth2_omniauth_authorize_path,
            class: "fa fa-google dn-gm" %>
        </div>
        <%= render "devise/shared/links" %>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-lg-pull-5 main-photo">
  </div>
</div>
