<% if comment.present? %>
  <div class="comments">
    <li id="comment-<%= comment.id %>">
      <%= link_to image_tag(Settings.users.url, size: Settings.users.size),
        comment.user %>
      <span class="user"><%= link_to comment.user.name, comment.user %></span>
      <span class="content"><%= comment.content %></span>
      <span class="timestamp">
        <%= t "comments.commented" %>
        <%= time_ago_in_words comment.created_at %>
        <%= t "comments.ago" %>
      </span>
    </li>
  </div>
<% end %>
