<div class="row">
  <div class="col-md-3">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= @users.count %></h3>
        <p>User Registers</p>
      </div>
      <div class="icon">
        <i class="glyphicon glyphicon-user"></i>
      </div>
      <%= link_to "More info", admin_users_path, class: "small-box-footer" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3><%= @books.count %></h3>
        <p>Book</p>
      </div>
      <div class="icon">
        <i class="glyphicon glyphicon-book"></i>
      </div>
      <%= link_to "More info", admin_books_path, class: "small-box-footer" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= @category.count %></h3>
        <p>Category</p>
      </div>
      <div class="icon">
        <i class="glyphicon glyphicon-list"></i>
      </div>
      <%= link_to "More info", admin_categories_path, class: "small-box-footer" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-red">
      <div class="inner">
        <h3><%= @request.count %></h3>
        <p>Request</p>
      </div>
      <div class="icon">
        <i class="glyphicon glyphicon-envelope"></i>
      </div>
      <%= link_to "More info", admin_requests_path, class: "small-box-footer" %>
    </div>
  </div>
</div>

<div class="row text-center">
  <div id="new-request-chart" data-chart="<%= @request_new_chart_data %>"
    class="col-md-6 dashboard-chart"></div>
  <div id="new-review-chart" data-chart="<%= @review_new_chart_data %>"
    class="col-md-6 dashboard-chart"></div>
</div>
<div class="row text-center">
  <div class="col-md-2"></div>
  <div id="new-user-chart" data-chart="<%= @user_new_chart_data %>"
    class="col-md-8 dashboard-chart"></div>
</div>
