<div class = "user_activity">
  <div class="activity">
    <b><%= activity.owner.name if activity.owner %></b>
    <%= get_activity_trackable_content activity %>
    <em><%= time_ago_in_words activity.created_at %></em>
  </div>
  <%= div_for(activity) do %>
    <%= render "users/like", activity: activity %>
  <% end %>
</div>
