<div class="container-fluid well boxshadow">
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active"><%= link_to "Requests", requests_path %></li>
    </ul>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= link_to t("requests.table.add_request"), new_request_path,
        class: "btn btn-primary" %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t "requests.table.index" %></th>
            <th><%= t "requests.table.content" %></th>
            <th><%= t "requests.table.create_at" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="requests-body">
          <%= render "request" %>
        </tbody>
      </table>
      <%= paginate @requests %>
      <%= page_entries_info @requests %>
    </div>

  </div>
</div>
