<div class="container-fluid well boxshadow">
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active"><%= link_to "Requests", requests_path %></li>
    </ul>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3><%= t "requests.show.title" %></h3>
      <p><%= @request.content %></p>
      <span><%= link_to "", requests_path,
        class: "glyphicon glyphicon-circle-arrow-left" %></span>
    </div>
  </div>
</div>

