<div class="row">
  <div class="col-xs-12 col-sm-5">
    <%= link_to image_tag(@book.picture, size: Settings.books.size2), @book, class: "book-image" %>
    <hr style="width: 80%">
    <h3>Average Rating: </h3>
    <div class="average-review-rating" data-score=<%= @book.rate_avg %>></div>
    <span>Based on <%= @book.reviews.count %> reviews.</span>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="title">
      <h2><b><%= @book.title %></b></h2>
    </div>
    <span class="name">By <a href="#"><%= @book.author %></a></span>
    <div class="description">
      <h3><span><%= t "books.description" %></span></h3>
    </div>
      <p><%= @book.description %></p>
      <p class="published"> Publish Date: <%= @book.publish_date %></p>
      <p> Number of page: <%= @book.number_page %></p>
    <div id="form-btn-mark">
      <%= render "mark_button" %>
    </div>
  </div>
</div>
