<div class="<%= @class_reading %> " >
  <%= form_for(@reading, method: @reading_method, class: "form-mark") do |f| %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= hidden_field_tag :status, Settings.books.marked_book.reading %>
    <%= f.submit t("books.mark_button.reading"), class: "btn btn-lg reading" %>
  <% end %>
</div>
