<h1><%= t ".all" %></h1>
<div class="section group">
  <br>
  <% @books.each do |book| %>
    <div class ="row">
      <% if book.picture.present? %>
        <%= link_to image_tag(book.picture, size: Setting.books.size), book %>
      <% else %>
        <%= link_to image_tag(Settings.books.url, size: Settings.books.size), book %>
      <% end %>
      <h4><%= link_to book.title, "#" %></h4>
      <p><%= book.author %></p>
    </div>
  <% end %>
</div>
<%= paginate @books %>
<%= page_entries_info @books %>
