<div class="container-fluid well boxshadow" >
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All books", books_path %></li>
    </ul>
    <hr>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= sort_link @q, :rate_avg, {}, class: "btn btn-custom" %></li>
      <li style="padding-left: 0px;">
        <%= search_form_for @q do |f| %>
          <%= f.select :category_id_eq,
            options_from_collection_for_select(Category.all, "id", "name", @q.category_id_eq), {include_blank: "All books"},
            class: "select-category", onchange: "this.form.submit()" %>
          <%= f.submit "Search", class: "hidden" %>
        <% end %>
      </li>
    </ul>
  </div>
  <hr>

  <div class="row section group">
    <br>
    <% @books.each do |book| %>
      <div class ="row1">
        <%= link_to image_tag(book.picture, size: Settings.books.size_index), book, class: "book-image center" %>
        <label style="text-align: center"><%= link_to book.title.truncate(28), book_path(book) %></label>
        <p class="book-detail"><%= t ("books.author") %> <%= book.author %></p>
        <p class="book-detail">
          <span class="average-review-rating" data-score="<%= book.rate_avg %>"></span>
        </p>
      </div>
    <% end %>
  </div>
  <div class="page">
    <%= paginate @books %>
    <%= page_entries_info @books %>
  </div>
</div>
