<div class="container-fluid well boxshadow">
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All books", books_path %></li>
      <li>
        <a href="http://localhost:3000/books?utf8=%E2%9C%93&q%5Bcategory_id_eq%5D=<%= @book.category.id %>">
          <%= @book.category.name %>
        </a>
      </li>
      <li class="active"><%= @book.title %></li>
    </ul>
    <hr>
  </div>
  <%= render "detail" %>
  <hr>
  <div class="row">
    <div class="col-md-5">

      <% if user_signed_in? %>
        <div class="new_review <%= disabled current_user.id, @book.id %>">
        <%= render "reviews/review_form", review: @new_review %>
        </div>
      <% end %>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <h2><%= t "reviews.user_review" %></h2>
      <div class="reviews">
        <%= render @reviews %>
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>
<%= social_share_button_tag @book.title %>
