<div class="container-fluid">
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to t(:home), books_path %></li>
      <li><%= t "books.category" %></li>
      <li class="active"><%= @book.category.name %></li>
    </ul>
    <hr>
  </div>
  <div class="row">
    <%= render "detail" %>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="new_review">
        <%= render "reviews/review_form", review: @new_review %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <h2><%= t "reviews.user_review" %></h2>
      <div class="reviews">
        <%= render @reviews %>
      </div>
    </div>
  </div>
</div>
