<% provide :title, t("admin.categories.add") %>
<h1 style="text-align: center;"><%= t "admin.categories.add" %></h1>
<div class="row ">
  <div class="col-md-6 col-md-offset-3 well">
    <%= form_for [:admin, @category] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <%= f.submit t("admin.categories.create"), class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>
