<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= form_for [:admin, @user] do |f| %>
      <div class="form-group">
      <%= render "shared/error_messages", object: @user %>
      <%= f.text_field :name,placeholder: "Name", class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.email_field :email,placeholder: "Email..", class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.password_field :password,placeholder: "Password", class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.password_field :password_confirmation,placeholder: "Password Confirmation", class: "form-control" %>
      </div>
      <div class="form-group">
      <span class="form-group avatar">
        <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      </div>
      <div class="form-group">
        <%= f.submit t(:submit), class: "btn btn-primary form-control" %>
      </div>

      <div class="form-group" style="font-size: 2.5em;">
        <%= link_to "", admin_users_path, class: "glyphicon glyphicon-circle-arrow-left" %>
      </div>
      </div>
    <% end %>
  </div>
</div>
