<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <%= image_tag @user.avatar, size: Settings.admin.users.size_ava, class: "book-image" %>
    </div>
    <div class="col-sm-4">
      <h3>Name: <%= @user.name %></h3>
      <p>email: <%= @user.email %> </p>
      <p>Review's count: <%= @user.reviews.size %></p>
      <br>
    </div>
  </div>
  <div class="col-sm-offset-1">
    <%= link_to "", edit_admin_user_path(@user),class: "glyphicon glyphicon-edit" %> |
    <%= link_to "", admin_users_path,class: "glyphicon glyphicon-circle-arrow-left" %>
  </div>
</div>
