<div class="col-md-12 paper">
  <% if can? :update, review %>
    <span class="right-conner">
      <%= link_to "", edit_review_path(review),
        class: "glyphicon glyphicon-edit" %>
      <%= link_to "", review_path(review), method: :delete,
        data: {confirm: t("reviews.confirm")}, class: "glyphicon glyphicon-remove" %>
    </span>
  <% end %>
  <div id="sub_review">
    <h4 class="display_inline">
      <span><%= link_to image_tag(review.user.avatar, size: Settings.users.size),
        review.user, class: "book-image" %></span>
      <%= link_to review.user.name, review.user %>
    </h4>

    <div class="review-rating" data-score="<%= review.rating %>"></div>
    <h4>Review's Content:</h4>
    <p style="white-space: pre-wrap;"><%= review.content %></p>
    <p class="text-left display_inline timestamp">
      <em>
        <%= "Posted by" %>
        <%= link_to review.user.name, review.user %>
        <%= time_ago_in_words(review.created_at) %>
        <%= "ago."%>
      </em>
    </p>
    <p>

      <ul id="comments_<%= review.id %>" class="list-comment">
        <% if review.comments.any? %>
          <%= render review.comments %>
        <% end %>
      </ul>
      <% if user_signed_in?%>
        <%= render "comments/comment_form",
          comment: Comment.new, review: review %>
      <% end %>
    </p>
  </br>
  </div>
</div>
