<div class="container-fluid well boxshadow">
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All books", books_path %></li>
      <li>
        <a href="http://localhost:3000/books?utf8=%E2%9C%93&q%5Bcategory_id_eq%5D=<%= @book.category.id %>">
          <%= @book.category.name %>
        </a>
      </li>
      <li><%= link_to @book.title, @book %></li>
      <li class="active">Edit reviews</li>
    </ul>
    <hr>
  </div>

  <h1>Edit Reviews</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render "shared/error_messages", object: @review %>
      <%= form_for @review do |f| %>
        <div id="rating-form">
          <label>Rating: </label>
        </div>

        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", required: true %><br>

        <%= f.submit :submit, class: "btn btn-primary" %>
      <% end %>
      <%= link_to "", book_path(@review.book), class: "glyphicon glyphicon-circle-arrow-left" %>
     </div>
  </div>
</div>
